<div class="admin-menu page-block">
    <div class="admin-menu-title">Разделы админ-панели</div>
    <div class="admin-menu-links">
        <a asp-controller="Admin" asp-action="Index">Главная</a>
        <a asp-controller="AdminRoles" asp-action="Index">Роли</a>
        <a asp-controller="AdminUsers" asp-action="Index">Пользователи</a>
        <a asp-controller="AdminCategories" asp-action="Index">Категории</a>
        <a asp-controller="AdminProducts" asp-action="Index">Товары</a>
        <a asp-controller="AdminCarts" asp-action="Index">Корзины</a>
        <a asp-controller="AdminCartItems" asp-action="Index">Товары в корзине</a>
        <a asp-controller="AdminOrders" asp-action="Index">Заказы</a>
        <a asp-controller="AdminOrderItems" asp-action="Index">Состав заказа</a>
    </div>
</div>
